@keyframes animate {
   from {
      grid-template-rows: 0fr;
      padding-block: 0;
   }
   to {
      grid-template-rows: 1fr;
      padding-block: var(--div-padding-y);
   }
}
.dropdown {
   //overflow: hidden;
   position: relative;
   summary {
      border-radius: 5px;
      background-color: var(--body-clr);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.75rem;
      font-weight: 500;
      padding: 0.375rem;
      color: #fff;

      @media screen and (min-width: 768px) {
         font-size: 1.5rem;
         padding: 0.5rem 1rem;
      }
   }

   svg {
      transform: rotate(0deg);
      transition: transform 300ms;
      width: 1rem;

      @media screen and (min-width: 768px) {
         width: 1.5rem;
      }
   }

   > div {
      --div-padding-y: 1rem;
      padding-inline: 0.5rem;
      color: var(--body-clr);
      border-radius: 0 0 5px 5px;
      height: 100%;
      display: grid;
      grid-template-rows: 0fr;

      @media screen and (min-width: 768px) {
         --div-padding-y: 1.5rem 1rem;
         padding-inline: 1rem;
      }
   }

   &[open] {
      background-color: #f7f7f7;

      > div {
         animation: animate 1s 0s 1 normal forwards;
      }
      svg {
         transform: rotate(180deg);
      }
   }

   p,
   ul {
      overflow: hidden;
      line-height: 1.5;
      font-size: 0.75rem;

      @media screen and (min-width: 768px) {
         font-size: 1.5rem;
      }
   }
}
